.main {
  background: url(..//components/office.jpg);
  background-position: center; 
  background-size: cover; 
  height: 1300px; 
  align-items: center; 
  justify-content: center; 
  display: flex; 
}
