
.wrapper {
  height: 1000px;
  font-family: "NoonnuBasicGothicRegular";
}

.intro {
  padding-top: 30px;
  padding-left: 30px;
}

.webcam {
  padding-top: 20px;
  padding-left: 20px;
  width: 640px;
  height: 360px;
}

.video {
  padding-top: 30px;
  margin-left: 30px;
}

.startBtn {
  margin-right: 10px;
}

.submit{
  padding-top: 30px;
}