
.footer {
  color: white;;
  background-color: rgb(79, 102, 145);;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  /*margin-top: auto;*/
}

.left {
  flex: 1;
}

.right {
  flex: 3;
}