
.footer {
  color: darkslategray;;
  background-color: #F8F9FA;;
  padding-left: 15%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  font-family: "NoonnuBasicGothicRegular";
}

.left {
  flex: 1;
}

.right {
  flex: 3;
  padding-left: 40%;
}